@CHARSET "ISO-8859-1";
                .panel
                {
                    font-size:13px
                }
                .tab
                {
                    font-size:11.3px
                }
                .input
                {
                    height:15px; line-height:70%; font-size:12px; width:210px;
                }
                 .input1
                {
                    height:15px; line-height:70%; font-size:12px; width:500px;
                }
                .label
                {
                   font-size:12px;
                   font-weight: bold;
                   color: #fff;
                }
                .select
                {
                   height:23px;  font-size:12px; width:215px;
                }
                
                .calendar
                {
                   height:35px;width:35px;
                }